@import "fonts/default";

@import "settings";

@import "foundation.scss";
@import "normalize.scss";

// Colors
.aqua{color:#00bfbf}
.aqua-background{background-color:#00fafa}
.black{color:#000}
.black-background{background-color:#000}
.blue{color:#0000bf}
.blue-background{background-color:#0000fa}
.fuchsia{color:#bf00bf}
.fuchsia-background{background-color:#fa00fa}
.gray{color:#606060}
.gray-background{background-color:#7d7d7d}
.green{color:#006000}
.green-background{background-color:#007d00}
.lime{color:#00bf00}
.lime-background{background-color:#00fa00}
.maroon{color:#600000}
.maroon-background{background-color:#7d0000}
.navy{color:#000060}
.navy-background{background-color:#00007d}
.olive{color:#606000}
.olive-background{background-color:#7d7d00}
.purple{color:#600060}
.purple-background{background-color:#7d007d}
.red{color:#bf0000}
.red-background{background-color:#fa0000}
.silver{color:#909090}
.silver-background{background-color:#bcbcbc}
.teal{color:#006060}
.teal-background{background-color:#007d7d}
.white{color:#bfbfbf}
.white-background{background-color:#fafafa}
.yellow{color:#bfbf00}
.yellow-background{background-color:#fafa00}

// Locale select

.locale-select { display: table; height: 100vh; overflow: hidden; }
.locale-select-block { display: table-cell; vertical-align: middle; }

.logo-locale-select { padding-bottom: 10px; }
.locale-select-panel { @include panel ($bg:#ee7700); margin-left:70px; margin-right:70px }

.locale-entry { background:#ee7700; text-align: center; padding-top: 5px; padding-bottom: 5px; margin-top: 5px; margin-bottom: 5px; }
.locale-entry { display: block; color: $white; text-align: center; }
.locale-entry:hover, .locale-entry:focus { background: $white; }
.locale-entry:hover, .locale-entry:focus { color: #ee7700; }

.locale-id { font-family: "monospace"; display: inline; text-align: right; }
.locale-name { display: inline; text-align: left; }

// TOC

#toc{border-bottom:1px solid #efefed;padding-bottom:.5em}
#toc>ul{margin-left:.125em}
#toc ul.sectlevel0>li>a{font-style:italic}
#toc ul.sectlevel0 ul.sectlevel1{margin:.5em 0}
#toc ul{font-family:"Open Sans","DejaVu Sans",sans-serif;list-style-type:none}
#toc a{text-decoration:none}
#toc a:active{text-decoration:underline}
#toctitle{color:#7a2518;font-size:1.2em}
@media only screen and (min-width:768px){#toctitle{font-size:1.375em}
#toc.toc{padding-left:15em;padding-right:0}
#toc.toc{margin-top:$topbar-height!important;padding-bottom:($topbar-height * 1.5)!important;background-color:#f8f8f7;position:fixed;width:15em;left:auto;right:0;top:0;border-right:1px solid #efefed;border-top-width:0!important;border-bottom-width:0!important;z-index:1000;padding:1.25em 1em;height:100%;overflow:auto}
#toc.toc #toctitle{margin-top:0;font-size:1.2em}
#toc.toc>ul{font-size:.9em;margin-bottom:0}
#toc.toc ul ul{margin-left:0;padding-left:1em}
#toc.toc ul.sectlevel0 ul.sectlevel1{padding-left:0;margin-top:0+rem(.5em);margin-bottom:.5em}
#toc.toc.toc-right{padding-left:0;padding-right:15em}
#toc.toc.toc-right #toc.toc{border-right-width:0;border-left:1px solid #efefed;}}@media only screen and (min-width:1280px){#toc.toc{padding-left:20em;padding-right:0}
#toc.toc{width:50vh}
#toc.toc #toctitle{font-size:1.375em}
#toc.toc>ul{font-size:.95em}
#toc.toc ul ul{padding-left:1.25em}
#toc.toc.toc-right{padding-left:0;padding-right:20em}}#content #toc{border-style:solid;border-width:1px;border-color:#e0e0dc;margin-bottom:1.25em;padding:1.25em;background:#f8f8f7;border-radius:4px}
#content #toc>:first-child{margin-top:0}
#content #toc>:last-child{margin-bottom:0}

// Header

.main-header
{
	background: $topbar-bg-color;
	width: 100%;
	z-index: 1001;
	margin: 0 0 $topbar-height;
}

// Main section
// Start promo
.start {
    background: url(/images/bg-start.jpg);
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    padding: 26vh 0 80px;
    margin: 0 0 100px;
}

.start::after
{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	border-left: 2px solid rgba(255,255,255,0.8);
	border-bottom: 2px solid rgba(255,255,255,0.8);
	transform: rotate(-45deg);
}

.startbanner {
	h1, h2, h3, h4, p {
		color: #fff;
		padding-left: rem-calc(15px);
	}
}

.download-wrapper {
	text-align: right;
	padding: 60px 100px 0 0;
}

.download-wrapper .download {
	background: transparent;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 3px;
	font-size: 24px;
	padding: 12px 25px 12px 23px;
	transition: all .15s;
}

.download-wrapper .download:hover
{
	background: #fff;
	color: #f08a24;
}

.buttonlist {
	a {
		color: #fff;
	}
	margin: 2em 0 4em;
}

// Sections
.index-common-text, .index-toys {margin: 50px 0 50px;}

.index-toys h5 {color: #000; font-size: 18px; margin: 0 0 5;}

.index-toys p
{
	color: #666;
	font-size: 15px;
	margin: 0;
	padding-right: 40px;
}

.index-toys .row:first-child {margin-bottom: 40px;}

.section-icon {
	display: inline-block;
	font-size: 80px;
	width: 140px;
	height: 140px;
	line-height: 136px;
	vertical-align: middle;
	text-align: left;
}

.index-toys .fa-truck
{
	color: #01579B;
}

.index-toys .fa-train
{
	color: #2E7D32;
}

.index-toys .fa-ship
{
	color: #546E7A;
}

.index-toys .fa-plane
{
	color: #9E9E9E;
}

.iconbox {
	vertical-align: middle;
}

// Media slider
#media-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}

// Download section
.actiondownload {
	margin: 0 0 5px;
}

// Footer

.footer {
  background: #ca6100;
  font-family: sans-serif;
  font-size: 15px;
  color: rgba(255,255,255,0.8);
  margin: 15px 0px 0px 0px;
  padding: 40px 0;
  width: 100%;
	a {
		color: rgba(255,255,255,0.8);
		&:hover {
			color: #fff;
		}
	}
}

.footer p {
	line-height: 20px;
}

.footer h4 {
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 5px;
	color: #fff;
}

.footer ul {
  line-height: 20px;
  font-size: 13px;
  list-style: none;
  margin-left: 0;
}

.home-social
{
	margin-top: 10px;
}

.home-social a
{
	font-size: 30px;
	margin-right: 15px;
}

img.footer-badge {
	margin-top: rem-calc(10);
}

.listingblock {
	@include radius;
	border-radius: 2px;
}

ol > li p,
ul > li p,
ul dd,
ol dd,
.olist .olist,
.ulist .ulist,
.ulist .olist,
.olist .ulist {
	margin-bottom: $paragraph-margin-bottom / 2;
}

ul.unstyled,
ol.unnumbered,
ul.checklist,
ul.none {
	list-style-type: none;
}

#toc {
	@include panel($panel-bg, $panel-padding, false);
	@include radius;
	& > ul {
		margin-left: emCalc(2px);
	}

	ul {
		font-family: $header-font-family;
		list-style-type: none;
	}

	ul.sectlevel0 > li > a {
		font-style: italic;
	}

	ul.sectlevel0 ul.sectlevel1 {
		margin: 0.5em 0;
	}

	a {
		text-decoration: none;
		&:active {
			text-decoration: underline;
		}
	}
}


// similar to sidebar title, but smaller font
#toctitle {
	@extend h3;
	color: $subheader-font-color;
	//line-height: 1.45;
	font-size: 1.375em;
}

// Blog
.post-date {
	font-style: italic;
}

h1, h2, h3, h4, .title, .download-wrapper>a {
    font-family: "Open Sans";
    font-weight: 300;
}

h5, h6 {
	font-family: "Open Sans";
	font-weight: 500;
}

$bloglist-h: 2em;
.bloglist h1 {font-size: $bloglist-h * 1.2; border-bottom: 1px solid #ddddd8}
.bloglist h2 {font-size: $bloglist-h * 0.9}
#summary>*>h2 {font-size: $bloglist-h * 0.9 * 0.8}

/* Customizations */
#header>h1:first-child{margin-top:2.25rem;margin-bottom:0}
#header>h1:first-child+#toc{margin-top:8px;border-top:1px solid #ddddd8}
/*#header h1 {border-top: 1px solid #ddddd8;}*/
#header .details{border-bottom:1px solid #ddddd8;line-height:1.45;padding-top:.25em;padding-bottom:.25em;padding-left:.25em;display:flex;flex-flow:row wrap}
#header .details span:first-child{margin-left:-.125em}
#header .details br{display:none}
#header .details br+span:before{content:"\00a0\2013\00a0"}
#header .details br+span.author:before{content:"\00a0\22c5\00a0"}
#header .details br+span#revremark:before{content:"\00a0|\00a0"}

#content {margin-top: 1.25em;}
