a.button.warning.actiondownload href="#{data.version.list.download}"
	span.fa.fa-download>
	= I18n.t('index.download.download')
	br
	small
		' v. 
		= data.version.list.current
		=<> I18n.t('index.download.for')
		| Windows

br

.text-center
	a href="/#{I18n.locale}/download"
		span style="text-align:center;"
			small
				= I18n.t('index.download.alternative')
