footer
	.row
		.small-12.medium-4.columns
			h4
				= I18n.t('footer.open.title')
			= I18n.t('footer.open.content')
		.small-12.medium-2.columns
			h4
				= I18n.t('nav.home.title')
			ul
				li
					a href="/#{I18n.locale}/download" title="#{I18n.t('nav.download.tip')}"
						= I18n.t('nav.download.title')
				li
					a href="/#{I18n.locale}/blog" title="#{I18n.t('nav.blog.tip')}"
						= I18n.t('nav.blog.title')
				li
					a href="/#{I18n.locale}/docs" title="#{I18n.t('nav.docs.tip')}"
						= I18n.t('nav.docs.title')
		.small-12.medium-2.columns
			h4
				= I18n.t('nav.forum.title')
			ul
				li
					a href="http://rigsofrods.com/forum" title="#{I18n.t('nav.forum.index.tip')}"
						= I18n.t('nav.forum.index.title')
				li
					a href="http://rigsofrods.com/sso" title="#{I18n.t('nav.forum.register.tip')}"
						= I18n.t('nav.forum.register.title')
				li
					a href="http://rigsofrods.com/search.php" title="#{I18n.t('nav.forum.search.tip')}"
						= I18n.t('nav.forum.search.title')
		.small-12.medium-4.columns
			h4
				= I18n.t('footer.follow.title')
			ul class="home-social"
				li
					- data.social.list.each do |entry|
						a href="#{entry[:url]}" class="#{entry[:pre]}"
