<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<% if current_page.data.title %>
		<title> <%= current_page.data.title %> - Rigs of Rods</title>
	<% else %>
		<title>Rigs of Rods: Soft Body Physics Simulator</title>
	<% end %>

	<%= partial "includes" %>
</head>
<body>
<%= partial "nav" %>
