<section class="index-toys">
	<div class="row text-center">
		<div class="small-12 small-centered columns">
			<h2>Sandbox full of toys</h2>
			<p>Play with a vast selection of vehicles and terrains. And don’t you worry: real world physics applies to all of them.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<div class="small-centered columns">
			<i class="section-icon fa fa-truck"></i>
			<h5>Truck?</h5>
			<p>Node and beam simulation with realistic handling and damage - check!</p>
			</div>
		</div>
		<div class="small-3 columns">
		 	<i class="section-icon fa fa-train"></i>
		 	<h5>Train?</h5>
		 	<p>Accurate wheel and rail simulation with derailments on overspeed - also check!</p>
		</div>
		<div class="small-3 columns">
			<i class="section-icon fa fa-ship"></i>
			<h5>Ship?</h5>
			<p>Buoyancy model based on elemental pressure gradients - you got it!</p>
		</div>
		<div class="small-3 columns">
			<i class="section-icon fa fa-plane"></i>
			<h5>Aircraft?</h5>
			<p>Advanced flight model based on blade element theory - this too!</p>
		</div>
	</div>
</section>
