<section id="action" class="index-common-text">
	<div class="row text-center">
		<div class="small-12 small-centered columns">
			<h2>Getting Started</h2>
			<br/>

		</div>
	</div>
	<div class="row">
		<div class="small-9 small-centered columns">
			<div class="small-6 left columns">
				<div class="right">
					<%= partial "download-button" %>
				</div>
			</div>
			<div class="small-6 right columns">
				<div class="left">
					<li><a href="/docs">Read the documentation.</a></li>
					<li><a href="http://rigsofrods.com/forum">Join the forums.</a></li>
					<li><a href="https://github.com/RigsOfRods/rigs-of-rods/issues/new">Report bugs and request features.</a></li>
					<li><b>Have fun!</b></li>
				</div>
			</div>
		</div>
	</div>
</section>
