.start
	.row
		section.section-dl
			.row
				.small-12.columns
					= partial "startbanner"
					= partial "download-wrapper"

= partial "index/summary"

.row
	hr

= partial "index/toys"

.row
	hr

= partial "index/foss"

.row
	hr

= partial "index/media"

.row
	hr

= partial "index/getting-started"
