section.index-common-text
	.row.text-center
		.small-12.small-centered.columns
			h2
				= I18n.t('index.foss.title')
			br
	.row
		.iconbox.small-3.right.columns
			.section-icon
				.fa.fa-heart
		.small-9.right.columns
			p
				= I18n.t('index.foss.content.about')
			p
				b = I18n.t('index.foss.content.foss')
			p
				= I18n.t('index.foss.content.community')
