<section class="index-common-text">
	<div class="row text-center">
		<div class="small-12 small-centered columns">
			<h2>Free. Open. For you.</h2>
			<br/>
		</div>
	</div>
	<div class="row">
	<div class="iconbox small-3 right columns">
		<i class="section-icon fa fa-heart"></i>
	</div>
		<div class="small-9 right columns">
			<p><%= I18n.t('index.foss.content.about') %></p>
			<p><b><%= I18n.t('index.foss.content.foss') %></b></p>
			<p><%= I18n.t('index.foss.content.community') %></p>
		</div>
	</div>
</section>
