section.index-common-text
	.row.text-center
		.small-12.small-centered.columns
			h2
				= I18n.t('index.summary.title')
			br
	.row
		.iconbox.small-3.right.columns
			.section-icon
				.fa.fa-rocket
		.small-9.right.columns
			p
				= I18n.t('index.summary.content.about')
			p
				= I18n.t('index.summary.content.different')
