<section class="index-common-text">
	<div class="row text-center">
		<div class="small-12 small-centered columns">
			<h2><%= I18n.t('.title') %></h2>
			<br/>
		</div>
	</div>
	<div class="row">
	<div class="iconbox small-3 right columns">
		<i class="section-icon fa fa-rocket"></i>
	</div>
		<div class="small-9 right columns">
			<%= I18n.t('.content') %>
		</div>
	</div>
</section>
