section.index-toys
	.row.text-center
		.small-12.small-centered.columns
			h2
				= I18n.t('index.toys.title')
			p
				= I18n.t('index.toys.content.preface')
	.row
		.small-3.columns
			.section-icon
				.fa.fa-truck
			h5
				= I18n.t('index.toys.content.truck.title')
			p
				= I18n.t('index.toys.content.truck.content')
		.small-3.columns
		 	.section-icon
				.fa.fa-train
		 	h5
				= I18n.t('index.toys.content.train.title')
		 	p
				= I18n.t('index.toys.content.train.content')
		.small-3.columns
			.section-icon
				.fa.fa-ship
			h5
				= I18n.t('index.toys.content.ship.title')
			p
				= I18n.t('index.toys.content.ship.content')
		.small-3.columns
			.section-icon
				.fa.fa-plane
			h5
				= I18n.t('index.toys.content.aircraft.title')
			p
				= I18n.t('index.toys.content.aircraft.content')
