= partial "header"

.row.main-start
  .small-12.columns
    h1
      = I18n.t('blog.archive.title')
  hr

  - blog.local_articles.each do |article|
	  .small-9.columns.bloglist
    	h3
        a href="#{article.url}"
          = article.metadata[:page]['title']
      .details
        span.author#author
          = article.metadata[:page]['author']
        br
        span.email#email
          a href="#{article.metadata[:page]['profile']}"
            | @#{article.metadata[:page]['nick']}
        br
        span#revdate
          = article.date.strftime("%d %B %Y")
    
      .small-3.columns
        - article.tags.each do |tag|
          span.label
            = tag


    	br
    	br
    	br

      hr

= partial "footer"
