= partial "header"

.row.main-start
  .small-12.columns.bloglist
    h1
      | Rigs of Rods Development Blog

  - blog.articles[0...10].each do |article|
    .small-12.columns
      .bloglist#header
        h2
          = article.title
        .details
          span.author#author
            = article.data.author
          br
          span.email#email
            a href="#{article.date}"
              |@#{article.data.nick}
          br
          span#revdate
            = article.date.strftime("%d %B %Y")
  
      div id="content summary"
        p
          = article.summary

      - article.tags.each do |tag|
        span.label>
          = tag

      .right
        a href='#{article.url}'
          nobr Read more →
      br
      br
      br

  .small-12.columns
    h4
      'View older posts in
      a href="/blog/archive/" title="Posts archive" the archive...

= partial "footer"
