<section class="index-common-text">
	<div class="row text-center">
		<div class="small-12 small-centered columns">
			<h2>Dive into soft body physics</h2>
			<br/>
		</div>
	</div>
	<div class="row">
	<div class="iconbox small-3 right columns">
		<i class="section-icon fa fa-rocket"></i>
	</div>
		<div class="small-9 right columns">
			<p>Rigs of Rods is a sandbox-style vehicle simulator.</p><p>What makes Rigs of Rods different to most simulators is its unique soft-body physics model: vehicles, machines, objects, etc. are simulated in real-time as flexible soft-body objects, giving the simulation an extremely accurate behavior which entirely depends on the physical construction of the vehicles or objects you create.</p>
		</div>
	</div>
</section>
