<section class="index-common-text">
	<div class="row text-center">
		<div class="small-12 small-centered columns">
			<h2>Free. Open. For you.</h2>
			<br/>
		</div>
	</div>
	<div class="row">
	<div class="iconbox small-3 right columns">
		<i class="section-icon fa fa-heart"></i>
	</div>
		<div class="small-9 right columns">
			<p>Rigs of Rods has been developed since 2005 by hundreds of volunteers around the world. It is open source and available under the <a href="https://www.gnu.org/copyleft/" title="copyleft licensing">copyleft</a>-style <a href="http://www.gnu.org/licenses/gpl-3.0.html" title="The GPLv3 license">GPLv3</a> license.</p><p><b>The game is and will always be free software.</b></p><p>Moreover, as volunteer-developed software, our community welcomes all kinds of contributions. In case you would like to give a hand, you can find the source code <a href="https://github.com/rigsofrods/rigs-of-rods">at GitHub</a>.</p>
		</div>
	</div>
</section>
