doctype html
html.no-js
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, initial-scale=1.0"

    = partial "includes"
    script src="/scripts/locale-redirect.js"

    title 
      | Rigs of Rods

body style="background-color: #333;"
  .row
    .small-6.small-centered.columns
      section.locale-select
        .locale-select-block
          img.logo-locale-select src="/images/logos/rorlogo.png"
          .locale-select-panel
            - data.menu.locales.each do |locale|
                a.locale-entry href="#{locale.id}"
                    span
                      .row
                        .small-4.columns.locale-id
                          =<> locale.id
                        .small-8.columns.locale-name
                          = locale.name
